%section
  .wrapper
    .section-title
      %h3 Наши преимущества

    .benefits
      .benefit
        .icon.icon_phone
        .title
          Используется вся поверхность
        .text
          Наша технология позволяет наносить
          изображение по всей площади чехла.
          В том числе на торцевых сторонах и
          внутренней поверхности.

      .benefit
        .icon.clock
        .title
          Износостойкость
        .text
          Изображение на чехле износостойкое,
          не стирается и не выцветает со временем. Мы даем пожизненную гарантию на износостойкость.


      .benefit.last
        .icon.like
        .title
          Высокая прочность
        .text
          Наши чехлы изготавливаются из
          полимерного прочного пластика. Он
          долговечен и надежно защищает телефон.


      .benefit
        .icon.list
        .title
          Разнообразные типы чехлов
        .text
          Мы печатаем различные на различных тиапах чехлов - матовых, глянцевых, флюросентных.

      .benefit
        .icon.pencils
        .title
          Эксклюзивный дизайн
        .text
          Мы разработаем эксклюзивный
          дизайн чехла для вашей компании.


      .benefit.last
        .icon.cheap
        .title
          От 450 рублей
        .text
          Стоимость от 450 рублей за уникальный чехол.

    .line