%section
  .wrapper
    .section-title
      %h3 Эксклюзивная упаковка


    .box
      .image
      .content

        .feature
          .icon.one
          .text
            Упаковки изготавливаются вручную из качественного и прочного картона colorplan.


        .feature
          .icon.two
          .text
            Упаковки изготавливаются вручную из качественного и прочного картона colorplan.


        .feature
          .icon.three
          .text
            Упаковки изготавливаются вручную из качественного и прочного картона colorplan.


    .line
