%section
  .wrapper
    .section-title
      %h3 Эксклюзивная упаковка


    .box
      .image
      .content

        .feature
          .icon.one
          .text
            Мы разработаем эксклюзивную упаковку специально для вас, в корпоративных цветах компании,
            с логотипом или по любым вашим пожеланиям.


        .feature
          .icon.two
          .text
            Упаковки изготавливаются вручную из качественного и прочного картона colorplan.


        .feature
          .icon.three
          .text
            Логотип наносится упаковку методом тиснения. Возможно цветное тиснение.


    .line
