.header
  .wrapper
    .logo
      %img{src: '/images/logo2.jpg'}
    .header-text
      Трендовые корпоративные подарки
      %br
      Работаем по всей России

    .phone

      .number
        8 (916) 793 91 93
      .order-call
        Заказать обратный звонок
