.intro
  .wrapper
    .intro-iphone

    .intro-descriptor
      Инновационный сервис 3D печати
      %br
      вашего логотипа на чехлах
      %br
      для телефонов

    .intro-copyright
      Данный чехол был
      %br
      разработан для сотрудников
      %br
      Альфа банка
    .form
      .form-title
        Оставьте заявку
      .form-desc
        и мы предоставим один бесплатный
        %br
        экземпляр чехла по вашему макету.
        -#%br
        -#Акция действует до конца месяца. Осталось 11 бесплатных чехлов.

      %input{type: :text, name: :username, placeholder: 'Введите ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Введите ваш номер телефона'}
      .button.send-order.inline-form Оставить заявку

      .form-after
        Мы гарантируем конфиденциальность
        %br
        Ваших данных. Ваши контакты не будут
        %br
        передаваться третьим лицам