.intro
  .wrapper
    .intro-iphone

    .intro-descriptor
      Изготовление корпоративных чехлов на телефон с вашим логотипом.
      %br
      3D технология нанесения изображений.

    .intro-copyright
      Данный чехол был
      %br
      разработан для сотрудников
      %br
      Альфа банка
    .form
      .form-title
        Оставьте заявку
      .form-desc
        и мы предоставим один бесплатный
        %br
        экземпляр чехла по вашему макету.
        -#%br
        -#Акция действует до конца месяца. Осталось 11 бесплатных чехлов.

      %input{type: :text, name: :username, placeholder: 'Ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Ваш телефон  (+7 903 777-77-77)'}
      .button.send-order.inline-form{goal: 'ORDER1'} Оставить заявку

      .form-after
        Мы гарантируем конфиденциальность
        %br
        Ваших данных. Ваши контакты не будут
        %br
        передаваться третьим лицам