.intro
  .wrapper
    .intro-iphone

    .intro-descriptor
      Инновационный сервис 3D печати
      %br
      вашего логотипа на чехлах
      %br
      для телефонов

    .intro-copyright
      Данный чехол был
      %br
      разработан для сотрудников
      %br
      Альфа банка
    .form
      .form-title
        Оставьте заявку
      .form-desc
        мы рассчитаем стоимость изготовления
        %br
        чехлов с логотипом вашей компании

      %input{type: :text, placeholder: 'Введите ваше имя'}
      %input{type: :text, placeholder: 'Введите ваш номер телефона'}
      .button Оставить заявку

      .form-after
        Мы гарантируем конфиденциальность
        %br
        Ваших данных. Ваши контакты не будут
        %br
        передаваться третьим лицам