%section
  .wrapper
    .section-title
      %h3 С какими моделями телефонов мы работаем

    .models
      .model
        .logo.apple
        .text
          iPhone 5s/5
          %br
          iPhone 4s/4
          %br
          iPad, iPad2, iPad mini
      .model
        .logo.samsung
        .text
          Samsung Galaxy S4/mini
          %br
          Samsung Galaxy S3/mini
          %br
          Samsung Galaxy note/2
      .model
        .logo.sony
        .text
          Sony Experia
      .model.last
        .logo.htc
        .text
          HTC One

    .line
