%section
  .wrapper
    .section-title
      %h3 С какими моделями телефонов мы работаем

    .models
      .model
        .logo
          %img{src: '/images/logo_apple.jpg'}
        .text
          iPhone 5s/5
          %br
          iPhone 4s/4
          %br
          iPad, iPad2, iPad mini
      .model
        .logo
          %img{src: '/images/logo_samsung.jpg'}
        .text
          Samsung Galaxy S4/mini
          %br
          Samsung Galaxy S3/mini
          %br
          Samsung Galaxy note/2
      .model
        .logo
          %img{src: '/images/logo_sony.jpg'}
        .text
          Sony Experia
      .model.last
        .logo
          %img{src: '/images/logo_htc.jpg'}
        .text
          HTC One

    .line
