%section
  .wrapper
    .section-title
      %h3 Мы делали чехлы для


    .phones
      %img.phone-item{src: '/images/iphone1.jpg'}
      %img.phone-item{src: '/images/iphone2.jpg'}
      %img.phone-item{src: '/images/iphone3.jpg'}
      %img.phone-item.last{src: '/images/iphone4.jpg'}
      %img.phone-item{src: '/images/iphone5.jpg'}
      %img.phone-item{src: '/images/iphone6.jpg'}
      %img.phone-item{src: '/images/iphone7.jpg'}
      %img.phone-item.last{src: '/images/iphone8.jpg'}