%section
  .wrapper
    .section-title
      %h3 Как мы работаем?
    .schema
      .stage
        .icon.one
        .text
          Вы оставляете заявку
          или звоните нам

      .stage
        .icon.two
        .text
          Мы обговариваем все
          детали и рассчитываем
          стоимость

      .stage
        .icon.three
        .text
          Заключаем договор
          и вы вносите 50%
          предоплаты

      .stage
        .icon.four
        .text
          Наши дизайнеры
          готовят макет чехла

      .stage.last
        .icon.five
        .text
          Мы печатаем партию,
          производим упаковки
          и доставляем вам