.form-row
  .wrapper
    -#.pencils-bg
    .offer
      При заказе от 30 чехлов
      разработка дизайна бесплатно
      до конца месяца!

    .form
      .form-title
        Оставьте заявку
      .form-desc
        мы рассчитаем стоимость изготовления
        %br
        чехлов с логотипом вашей компании

      %input{type: :text, placeholder: 'Введите ваше имя'}
      %input{type: :text, placeholder: 'Введите ваш номер телефона'}
      .button Оставить заявку