.form-row.new-year
  .wrapper
    -#.pencils-bg
    .offer
      Чехол с логотипом вашей
      компании - отличный сувенир для
      ваших клиентов на новый год

    .form
      .form-title
        Оставьте заявку
      .form-desc
        мы рассчитаем стоимость изготовления
        %br
        чехлов с логотипом вашей компании

      %input{type: :text, name: :username, placeholder: 'Ваше имя'}
      %input{type: :text, name: :phone, placeholder: 'Ваш телефон  (+7 903 777-77-77)'}
      .button.inline-form.send-order{goal: 'ORDER 3'} Оставить заявку