.form-row.new-year
  .wrapper
    -#.pencils-bg
    .offer
      Чехол с логотипом вашей
      компании - отличный сувенир для
      ваших клиентов на новый год

    .form
      .form-title
        Оставьте заявку
      .form-desc
        мы рассчитаем стоимость изготовления
        %br
        чехлов с логотипом вашей компании

      %input{type: :text, placeholder: 'Введите ваше имя'}
      %input{type: :text, placeholder: 'Введите ваш номер телефона'}
      .button Оставить заявку