%section
  .wrapper
    .section-title
      %h3 Зачем нужны чехлы на телефон с логотипом вашей компании


    .reasons
      .reason
        .icon.gift
        .content
          .title
            Приятный подарок вашим клиентам
          .text
            Подарите своим клиентам и партнерам чехлы с
            вашим логотипом. Это будет отличным
            сувениром и знаком проявления уважения.

      .reason.last
        .icon.gift
        .content
          .title
            Корпоративная символика
          .text
            Чехлы на телефоны можно подарить
            всем сотрудникам компании в связи со
            знаменательной датой или на кануне праздника

    .line