%section
  .wrapper
    .section-title
      %h3 Зачем нужны чехлы на телефон с логотипом вашей компании


    .reasons
      .reason
        .icon.gift
        .content
          .title
            Приятный подарок вашим клиентам
          .text
            Подарите своим клиентам и партнерам чехлы с
            вашим логотипом и персональным дизайном.
            Это будет отличным бизнес сувениром для ваших партнеров и клиентов.

      .reason.last
        .icon.man
        .content
          .title
            Корпоративная символика
          .text
            Чехлы на телефоны с вашим дизайном можно подарить
            всем сотрудникам компании в связи со
            знаменательной датой или на кануне праздника

    .line