%html
  %head
    = css :application
    = js :application
    %script{src:'http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU'}
    %title
      Инновационный сервис 3D печати
      вашего логотипа на чехлах
      для телефонов
  %body
    = yield